<tr>
  <td><%= link_to quote.band.name, quote.band %>
  <td><%= quote.excerpt %>
  <td><%= link_to quote.song.pretty_name, quote.song %>
  <td class="actions">
    <% if logged_in? %>
      <%= link_to "Edit", edit_quote_path(quote) %>
      <%= link_to "Destroy", quote, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
</tr>
