<section class="mb-3" id="<%= classifize(song.pretty_name + "_from_" + song.album.name) %>">
  <h4><%= link_to_unless_current song.pretty_name, sanatized_song_seo_path(song) %></h4>

  <% if controller_name == "songs" %>
    <div class="meta">
      <%= by %>
      <%= link_to song.album.band.name, sanatized_band_seo_path(song.album.band) %>
      <%= from %>
      <%= link_to song.album.name, sanatized_album_seo_path(song.album) %>
    </div>

    <% if show_action? %>
      <audio class="player" controls>
        <source src="<%= remote_audio_url(song) %>">
      </audio>
    <% end %>
  <% end %>

  <div class="download">
    <%= link_to "Download", remote_audio_url(song) %>

    <span class="text-muted">(MP3)</span>
  </div>
</section>
