<section class="mb-5" id="<%= classifize(album.name + "_by_" + album.band.name) %>">
  <h3 class="h2">
    <%= link_to_unless_current album.name, sanatized_album_seo_path(album) %>
  </h3>

  <% if controller_name == "albums" %>
    <p>
      <%= by %>
      <%= link_to album.band.name, sanatized_band_seo_path(album.band) %>
    </p>
  <% end %>

  <%= render album.songs %>
</section>
