<% unless band.albums.blank? %>
  <section class="band" id="<%= classifize(band.name) %>">
    <h2>
      <%= link_to_unless_current band.name, sanatized_band_seo_path(band) %>
      <% if logged_in? %>
        <span class="actions">
          <%= link_to 'Edit', edit_band_path(band) %>
          <%= link_to 'Destroy', band, :confirm => "Don't forget to delete/reassign this band's albums, too", :method => :delete %>
        </span>
      <% end %>
    </h2>

    <% unless band.quotes.blank? %>
      <blockquote>
        <p class="alt"><%= band.quotes.first.excerpt %></p>
        <div class="from">
          <span class="alt">from</span>
          <%= link_to band.quotes.first.song.pretty_name, band.quotes.first.song %>
        </div>
      </blockquote>
    <% end %>

    <%= render band.albums.sort_by{ |a| a.name } if show_action? %>
  </section>
<% end %>
