<!-- I support your decision, I believe in change and hope you find just what it is that you are looking for -->
<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body id="<%= controller_name %>">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <%= link_to t(:brand), root_path, accesskey: "/", class: "navbar-brand" %>

      <ul class="navbar-nav">
        <% %i[bands albums songs].each do |section| %>
          <li class="nav-item">
            <%= link_to section.capitalize, [section], class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="container">
    <p class="text-right text-muted my-5"><%= t :pricing %></p>
  </footer>

  <%= analytics_init if Rails.env.production? %>
</body>
</html>
