<!-- I support your decision, I believe in change and hope you find just what it is that you are looking for -->
<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body id="<%= controller_name %>">

  <header>
    <div class="container">
      <h1 class="column span-16">
        <%= link_to_unless_current "The Resistance Army Audio Project", root_path, :accesskey => "/" %>
      </h1>

      <nav class="column span-8 last">
        <ul>
          <li><%= link_to_unless_current "Bands", bands_path %></li>
          <li><%= link_to_unless_current "Albums", albums_path %></li>
          <li><%= link_to_unless_current "Songs", songs_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <span class="alt">Free as the Air You Breathe</span>
  </footer>

  <%= analytics_init if Rails.env.production? %>
</body>
</html>
